StepFunctionDefinition.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Serialize Image Data",
  "States": {
    "Serialize Image Data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:515358065150:function:serializeImageData:$LATEST"
      },
      "Next": "Classify Image Data"
    },
    "Classify Image Data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:515358065150:function:classifyImageData:$LATEST"
      },
      "Next": "Filter Low Confidence"
    },
    "Filter Low Confidence": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:515358065150:function:filterLowConfidence:$LATEST"
      },
      "End": true
    }
  }
}
